<template>
  <window name="works">
    <scene/>
  </window>
</template>

<script>
  -- add imvue components search path
  package.imvpath = package.imvpath .. ';' .. getResourcePath('editor/imvue/?.imv')
  Scene = require 'components.scene'
  return ImVue.new({
    components = {
      scene = Scene
    },
    data = function(self)
      return {
        showScene = false,
      }
    end,
  })
</script>

